html{
	background-color: #d0d0d0;
}
body{
	margin: 10px;
}
h1{
	padding-top: 0;
	margin-top: 0;
}
#title{
	padding: 10px;
	background-color: palegoldenrod;
	align-content: center;
	align-self: center;
}
#scores{
	padding: 15px 10px;
	background-color: floralwhite;
	align-self: center;
	align-content: center;
}
#board{
	position: absolute;
	height: 600px;
	width: 100%;
	padding: 10px;
	background-color: paleturquoise;
	align-content: center;
	align-self: center;
}
.location {
	color: purple;
}
#hits {
	color: darkred;
	font-weight: 500;
}
#duration {
	color: royalblue;
	font-weight: 500;
}
#bear {
    position: absolute;
    left: 100px;
    /*top: 240px;*/
    width: 100px;
    height: 160px
}